

.dark-mode{
    background-color: #1E263F;
    color:white;
}

i{
    font-size: 50PX;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
}

.dark-theme{
    background-color: #000106;
    color: white;
}